/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #f8bbd0, #e91e63);
    padding: 20px;
}

.login-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    /* margin-right: 20px; Removed as not needed in this layout*/
}

.login-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; /* Reduced margin */
    text-align: center;
}

.wm-title {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px; /* Added margin */
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.or-divider {
    text-align: center;
    margin: 15px 0;
    color: #777;
}

.google-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.image-container {
    width: 150px; /* Set fixed width */
    height: 150px; /* Set fixed height for consistent size */
    margin: 0 auto 10px; /* Center horizontally and add margin below */
}

.profile-image {
    max-width: 100%;
    max-height: 100%;
    display: block; /* Prevents image from affecting layout */
    object-fit: contain; /* Ensures the image fits within the container */
}

.error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

/* Responsive design */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        align-items: center;
    }

    .login-box {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .image-container{
        width: 100px;
        height: 100px;
    }
}